@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


   body, html {
      margin: 0;
      padding: 0;
      height: 100%;
   }

   body{ 
      margin: 0;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;
      position: relative;
      overflow: hidden;

   }
   header{
      margin: 0  auto;
      width: 100%;
      max-width: 431px;
      
   }
   #canvas{
      margin: 0  auto;
      width: 100%;
      max-width: 431px;
      height: 100%;
      
   }


   h1{ 
      
      background: url(./flappy-bird-set.png) 0% 340px;
      padding: 1.2rem 0;
      margin:0;

   }
   #score-container{ 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 6px;
      background: #0D9276;
   }



 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   #canvas {
       width: 90%; 
       height: auto; 
   }
}
@media only screen and (max-width: 375px) and (max-height: 667px) {
   body, html {
      margin: 0;
      padding: 0;
      height: 100%;
   }

   body {
      margin: 0;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;
      position: relative;
   }

   header {
      margin: 0 auto;
      width: 100%;
      max-width: 375px; 
   }

   #canvas {
      margin: 0 auto;
      width: 100%;
      max-width: 375px; 
      height: 100%;
   }

   h1 {
      background: url(./flappy-bird-set.png) 0% 340px;
      padding: 1.2rem 0;
      margin: 0;
   }

   #score-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 6px;
      background: #0D9276;
      max-width: 375px; 
   }
}